# ADS 502 Final Project
# 
## Heart Failure Detection
# 
### Team 4

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.tools.tools as stattools

from scipy import stats
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [6]:
url = 'https://raw.githubusercontent.com/dingyiduan7/ADS-502/main/ADS%20502%20Final_Project/heart_failure_clinical_records_dataset.csv'
heart = pd.read_csv(url, index_col=0)
heart.head()

,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
age,,,,,,,,,,,,
75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1